<div class="dashboard-container">
  <div class="sidebar">
    <div class="sidebar-header">
      <h3>Menu</h3>
    </div>
    <ul class="sidebar-menu">
      <li *ngFor="let item of menuItems"
          [class.active]="activeItem === item.id"
          (click)="selectItem(item.id)">
        <a>
          <span class="icon"><i [class]="item.icon"></i></span>
          <span class="title">{{ item.title }}</span>
        </a>
      </li>
    </ul>
  </div>

  <div class="main-content" [class.sidebar-collapsed]="isCollapsed">
    <!-- Contenu des utilisateurs -->
    <div *ngIf="activeItem === 2" class="content-wrapper">
      <app-user-list></app-user-list>
    </div>

    <!-- Ajoutez d'autres contenus conditionnels ici -->
  </div>
</div>
